@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Ubuntu:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: white;
}

main {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    width: 80%;
    height: 80%;
    font-family: 'Ubuntu', sans-serif;
}

.title {
    color: #610C9F;
    font-size: 4rem;
    text-align: center;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    justify-content: center;
}

.input-num1, .input-num2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content; 
    position: static;
    width: 100%;
}

label {
    font-size: 1rem;
    color: #610C9F;
    font-weight: 700;
    position: relative;
    top: 0.5rem;
    margin: 0 0 0 7px;
    padding: 0 3px;
    background: white;
    width: fit-content;
}

#numero1, #numero2 {
    padding: 11px 10px;
    font-size: 1rem;
    border: 2px #610C9F solid;
    border-radius: 5px;
    width: 30%;
    height: 3rem;
    outline: none;
}

#resultado {
    font-size: 1.5rem;
    text-align: center;
}

.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
}
.btn {
    font-family: 'Ubuntu', sans-serif;
    width: 30%;
    height: 3rem;
    border: none;
    color: white;
    background: rgb(243,159,90);
    background: linear-gradient(90deg, rgba(243,159,90,1) 0%, rgba(174,68,90,1) 60%, rgba(102,37,73,1) 100%);
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;  
    font-size: 1rem;
}

@media (max-width: 768px) {
    .btn {
        width: 100%;
        font-size: 1.3rem;
    }

    label {
        font-size: 1.3rem;     
    }

    #numero1, #numero2 {
        width: 100%; 
        height: 4rem;
        font-size: 1.2rem;    
    }
}